body,
html {
  margin: 0;
  padding: 0;
  font-size: 20px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#desktopWarning {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 12px 16px;
  background: rgba(208, 0, 0, 0.943);
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.container {
  /* dvh is dynamic viewport height, which takes into account the address bar, which 100vh does not */
  /* Therefore, 100vh is the full height of the screen, and 100dvh is the height of the screen minus the address bar */
  /* So, when we calculate offset in the swipeTo function, window.innerHeight uses the dvh value,
						and the offset is calculated correctly instead of over-adding the offset that includes the address bar */
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100%;
  /*
						margin-top: 12.5vh;
						margin-bottom: 12.5vh; */
  color: white;
  transition: transform 0.3s ease-in-out;
  background-color: #333;
  z-index: -2;
  /* ensure stop button can appear above content */
}

#startContainer {
  height: 100vh;
  width: 100vw;
  background-color: #333;
}

#startButton {
  color: white;
  border-radius: 12px;
  margin: 0 auto;
  padding: 24px;
  background-color: green;
  cursor: pointer;
  z-index: 100;
  width: 100px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#startButton:hover {
  background-color: #4CAF50;
}

#stopButton {
  position: fixed;
  display: none;
  bottom: 10px;
  left: 10px;
  color: white;
  cursor: pointer;
  z-index: 10;
  /* ensure stop button can appear above content */
}

#stopButton:hover {
  background-color: #ff4444;
}

#endContainer {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: #333;
}

.endButtonContainer {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#endButton {
  color: white;
  border-radius: 12px;
  margin: 16px auto;
  padding: 24px;
  background-color: green;
  cursor: pointer;
  z-index: 100;
  width: 100px;
  text-align: center;
}

#title {
  color: white;
  text-align: center;
}